.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.hotel_details {
  position: fixed;
  top: 4%;
  right: 12%;
  z-index: 10;
  height: 90vh;
  width: 75vw;
  text-align: center;
  display: flex;
  justify-content: center;
}
